.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 500px; /* Adjust the top position to your desired value */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  width: 90%;
  max-width: 500px; /* Adjust the maximum width as needed */
  background-color: rgba(255, 255, 255,);
  padding: 1rem;
  border-radius: 14px;
  border: 2px solid black; /* Add a black border */
}
